#errorgrid {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 40px 100px;
}
#error {
    grid-column: 2;
    grid-row: 3;
    color: #4267b2;
    font-size: 20em;
    text-align: center;
}