#formgrid {
    display: grid;
    grid-template-columns: 1fr 540px 1fr;
    grid-template-rows: 40px 50px max-content;
}
#formparams {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 20px;
}
#formbutons {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}
.paramvalue {
    width: 390px;
}
.phone-country {
    float: left;
    margin-right: 10px;
}
.phone-country input {
    width: 45px;
}
.phone-area {
    float: left;
    margin-right: 10px;
}
.phone-area input {
    width: 50px;
}
.phone-number {
    float: left;
    margin-right: 10px;
}
.phone-number input {
    width: 120px;
}
.phone-type {
    float: left;
    margin-right: 10px;
}
.phone-type input {
    width: 90px;
}
.phonetype-select {
    padding: 3 10 2;
    font-size: 0.8em;
}
.buttons {
    margin: auto;
    width: 291px;
}
.save {
    float: left;
    margin-right: 20px;
}
input[type="submit"].creategroup {
    width: 200px;
}
.textareaparam {
    height:120px;
}
#phonetype-menu {
    font-size: 0.8em;
}
input[type="button"] {
    display: inline-block;
    height: 23px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 45px;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: #4267b2;
    color: white;
}
#dialog {
    display: none;
}
#buttongrid {
    display: grid;
    grid-template-columns: 90px 70px ;
}