#groupgrid {
    display: grid;
    grid-template-columns: 1fr 400px 200px 1fr;
    grid-template-rows: 40px 40px max-content;
}
#groupname {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 20px;
}
#groupdescription {
    grid-column: 2;
    grid-row: 4;
    word-wrap: break-word;
    font-size: 0.9em;
    margin-bottom: 20px;
}
#groupbuttons {
    grid-column: 3;
    grid-row: 3;
    margin-bottom: 20px;
}
#groupbody {
    grid-column: 2 / 4;
    grid-row: 5;
}
.a-container {
    width: 120px;
    float: right;
    margin-bottom: 10px;
    display: inline-block;
}
.itemlistrow {
    display: inline-block;
}