#headergrid {
    display: grid;
    grid-template-columns: 250px 1fr 150px;
    color: white;
}
#headergrid a {
    color: white;
}
header {
    background-color: #3b5998;
    background-size: cover;
    min-width: 470px;
    grid-column: 1 / end;
    grid-row: 1;
}
#searchInput {
    padding: 3px 10px;
    border: 0;
    box-sizing: border-box;
    outline: none;
}
.ui-menu-item-wrapper {
    font-size: 0.9em;
}
.ui-menu .ui-menu-item-with-icon a {
    padding-left: 22px;
}
.item-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: -20px;
    margin-right: 5px;
}
.search {
    padding-top: 10px;
}
.logo {
    padding: 9px 10px;
    padding-right: 25px;
    font-family: FacebookLetterFaces, serif;
    font-size: 2em;
    float: left;
}
.create-group {
    font-weight: 700;
    margin-left: 20px;
}
@font-face {
    font-family: FacebookLetterFaces;
    src: url("FacebookLetterFaces.eot");
    src: url("FacebookLetterFaces.eot?#iefix") format("embedded-opentype"),
    url("FacebookLetterFaces.woff") format("woff"),
    url("FacebookLetterFaces.ttf")  format("truetype"),
    url("FacebookLetterFaces.svg#svgFontName") format("svg");
}
.username {
    font-weight: 700;
    padding: 2px 15px;
    float: right;
    text-align: right;
}
.logout {
    font-weight: 400;
    font-size: 0.75em;
    margin-right: 5px;
}
button {
    display: inline-block;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 20px;
    outline: none;
    border: 0;
    cursor: pointer;
}
#search {
    background-image: url( '/images/search.png' );
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}