#logingrid {
    display: grid;
    grid-template-columns: 1fr 330px 1fr;
    grid-template-rows: 40px 90px 80px 60px;
}
#invalidpassword {
    grid-column: 1 / end;
    grid-row: 2;
    text-align: center;
    padding-top: 40px;
}
#loginform {
    grid-column: 2;
    grid-row: 3;
}
#loginbuttons {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}
#witness {
    grid-column: 2;
    grid-row: 5;
}
.loginbutton {
    float: left;
}
.registerbutton {
    float: right;
}
.or {
    margin-top: 12px;
    color: #4267b2;
}
.paramname {
    width: 100px;
}
label {
    color: #888888;
}