#profilegrid {
    display: grid;
    grid-template-columns: 1fr 400px 200px 1fr;
    grid-template-rows: 40px 40px max-content max-content auto auto;
}
.profile {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 30px;
    min-width: 400px;
}
#profilename {
    grid-column: 2 / 3;
    grid-row: 3;
    margin-bottom: 20px;
}
#profilebuttons {
    grid-column: 3;
    grid-row: 3;
    margin-bottom: 20px;
}
.imgparam {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    padding-right: 20px;
}
.pname {
    max-width: 295px;
    min-width: 200px;
    vertical-align: middle;
    color: #888888;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.basic {
    float: left;
}
.address {
    margin-bottom: 10px;
    color: #888888;
    float: right;
    min-width: 200px;
    max-width: 295px;
}
.friends {
    grid-column: 2 / 4;
    grid-row: 6;
}
.groups {
    grid-column: 2 / 4;
    grid-row: 5;
}
.info {
    overflow: hidden;
    grid-column: 2 / 4;
    grid-row: 4;
    margin-bottom:20px;
}
.a-container {
    width: 120px;
    float: right;
    margin-bottom: 10px;
    display: inline-block;
}
.phone-align {
    margin-left: 50px;
    margin-bottom: 5px;
}
