#searchresultsgrid {
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 40px 50px 100px max-content;
}
#entityswitch {
    grid-column: 2;
    grid-row: 3;
}
#entityswitchgrid {
    display: grid;
    grid-template-columns: 150px 190px;
}
#results {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 10px;
}
#resultsbuttons {
    grid-column: 2;
    grid-row: 5;
}
.resultsbuttonsgrid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}
input[type="button"] {
    height: 23px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 50px;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: #4267b2;
    color: white;
}
