html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
textarea {
    margin: 0;
    font-size: 100%;
    outline: none;
    resize: none;
    border: 1px solid #cccccc;
    padding: 3px 10px;
    height: 100px;
}
html {
    min-height:100%;
}
body {
    text-align: left;
    font-size: 1em;
    min-height:100%;
    font-family: 'Open Sans', sans-serif;
    color: #888888;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
    text-decoration: none;
    cursor: pointer;
}
input[type="submit"]{
    background: #4267b2;
    border: 0;
    color: #fff;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 10px 25px;
    cursor: pointer;
    outline: none;
    width: 140px;
}
.paramname {
    width: 150px;
    float: left;
    color: #888888;
    padding-top: 4px;
}
.paramvalue {
    float:right;
}
.param {
    height: 35px;
}
input[type="text"], input[type="password"], input[type="email"] {
    padding: 3px 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
}
.infoheader {
    border: 1px solid #888888;
    background-color: #f6f7f9;
    color: #4b4f56;
    font-size: 1.25em;
    font-weight: 700;
    padding: 8px;
}

.infovalue {
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.imgedit {
    height: 20px;
    width: 20px;
}
.entityname {
    font-weight: 700;
    font-size: 2em;
    color: #444444;
}
.imgentity {
    height: 100px;
    width: 100px;
}
.divbutton {
    background: #4267b2;
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    font-size: 0.75em;
    text-align: center;
}
.itemlistrow {
    margin-top: 7px;
    margin-bottom: 15px;
}
.itemlistrow a {
    color: #4b4f56;
}
.imgitemlist {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.previewtabitem {
    text-align: center;
    width: 90px;
}
.previewtabitem img {
    width: 50px;
    height: 50px;
}
.previewtabitem a {
    color: #4b4f56;
}
#itemgrid {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px;
}
.alert {
    color: #dc143c;
}